/******* FONT FAMILY *******/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);

/******* VARIABLES *******/
$body-color:      #FFFFFF;
$font-color:      #444;
$font-family:     'Roboto', sans-serif;
$font-size:       14px;
$text-light:      300;
$text-normal:     400;
$text-semibold:   600;
$text-bold:       700;
$font-family:     'Roboto', sans-serif;
$spacing-lg:      60px;
$spacing-md:      30px;
$spacing:         20px;
$spacing-sm:      15px;
$spacing-xs:      10px;
$spacing-min:     5px;
$border-color:    #ddd;
$border:          solid 1px $border-color;
$border-radius:   3px;
$small-size:      0.85em;

/* COLORS */
$black: $font-color;
$white: #fff;
$green: #53cf00;
$dark-green: #46ae00;
$heavenly: #68c8f1;
$dark-heavenly: #4f9cbd;
$blue: #1c84c6;
$dark-blue: #176698;
$red: #ed5565;
$dark-red: #be4552;
$yellow: #f8ac59;
$dark-yellow: #cd8f4b;
$orange: #f78f38;
$dark-orange: #d7690d;
$gray: #999;
$dark-gray: #666;
$light-gray: #ccc;
$dark-light-gray: #aaa;
